.container{
  text-align: center;
}

.recipeContain{
  background: #aabbcc;
  border-radius: 3px;
}

.recipeRow{
  padding: 25px;
  text-align: center;
}

.recipeCol{
  text-align: center;
  background-color: #ddf2e8;
  border: 1px solid #f4e9d8;
  border-radius: 3px;
  padding: 10px;
}

h1{
  margin: 25px;
}

.search{
  margin: 15px;
}

input{
  border-radius: 3px;
}

.btn{
  height: 26px;
  margin: 0 auto;
}

.add{
  margin-bottom:20px;
  height: 35px;
  width: 35px;
}
