@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
  background: #ad5389;
  background: -webkit-linear-gradient(to top, #3c1053, #ad5389);
  background: linear-gradient(to top, #3c1053, #ad5389);
  background-repeat: no-repeat;
  height: 100vh;
}

.container{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.recipeRow{
  padding: 25px;
  text-align: center;
}

.recipeCol{
  text-align: center;
  background-color: #ddf2e8;
  border: 3px solid black;
  border-radius: 3px;
  padding: 10px;
}

h1{
  margin: 25px;
}

.search{
  margin: 15px;
}

input{
  border-radius: 3px;
}


.searchButton{
  height: 26px;
  margin: 0 auto;
}

.add{
  margin-bottom:20px;
  height: 35px;
  width: 35px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #f9f9f9;
  border-radius: 5px;
  min-height: 310px;
  max-height: 310px;
}

.popRowOne{
  background-color: #ddf2e8;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5px;
}

.popHead{
  margin: 0 auto;
}

.popFoot{
  padding: 0;
  margin-top: 0px;
  text-align: right;
  padding-right: 26px;
}

form{
  text-align: left;
  padding: 10px 30px;
}

textarea{
  width: 100%;
  border: none;
  min-height: 90px;
  resize: none;
  margin-top: 5px;
  border-radius: 3px;
  border-top: 2px solid #939396;
  border-left: 2px solid #939396;
  border-bottom: 2px solid #e0e0e5;
  border-right: 2px solid #e0e0e5;

}

form > input{
  width: 100%;
  margin-top: 5px;
  border-top: 2px solid #939396;
  border-left: 2px solid #939396;
  border-bottom: 2px solid #e0e0e5;
  border-right: 2px solid #e0e0e5;
}

.popFoot > button{
  margin: 3px;
}

.jumbotron{
  background-color: black;
  color: #ddf2e8;
}

@media (max-width:500px) {
  h2{
    font-size: 25px;
  }
}
